@import "tailwindcss";
.about{
    background-image: url(./assets/about1.jpg);
}
.about-bg{
    background-image: url(./assets/about2.jpg);
}
.about-bgs{
    background-image: url(./assets/about3.jpg);
}